.topbar{
	background-color:blue;
	border-radius: 20px;
    padding: 5px;
}
.container{
    max-width: 100%;
    background-color: whitesmoke;
    padding: 40px;
}
.footbar{
	background-color:blue;
	border-radius: 20px;
	color:white;
    padding: 5px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
}
@media(max-width: 768px){
    .grid{
        grid-template-columns: repeat(1, 1fr);
    }
}
h2
{ 
	color:white; 
	font-size:25pt; 
	font-weight:bold; 
} 
h4{
	color:white;
}
input[type=button]
{
	font-size:14px;
	width:100px;
	height:40px;
	color:black;
	background-color:white;
	border-radius: 12px;
}
input[type=button]:hover
{
	color:white;
	background-color:blue;
}
.fibo{
  background-color: white;
  color: black;
  border: 2px solid blue;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.fibo:hover{
  background-color: black;
  color: white;
}
.divv{
	width:200px;
}
.img-style { 
	width:100%;
	height:100%;
	transition: all .2s ease-in-out; 
}
.img-style:hover
{ 
	z-index:1000;
    transform: scale(1.2); 
}
.first{
    border: 2px solid blue;
	border-radius: 20px;
	background-color: blue;
    padding: 20px; 
    margin: 10px;
    text-align: center;
}
.second{
    border: 2px solid blue;
	border-radius: 20px;
	background-color: blue;
    padding: 20px; 
    margin: 10px;
    text-align: center;
}
.third{
    border: 2px solid blue;
	border-radius: 20px;
	background-color: blue;
    padding: 20px;
    margin: 10px;
    text-align: center;
}
.hide{
    display: none;
}
